@model AppEcommerce.Models.Contato

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdmin";
}

@* <h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@


<div class="row justify-content-center">
    <div class="card text-center">
        <div class="card-header">
            Excluir 
        </div>
        <div class="card-body">
            <h5 class="card-title">Deseja Realmente Excluir essa Mensagem ?</h5>
            <p class="card-text">Confirme a Exclusão da Mensagem!!</p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Cancelar</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    let ok = '@Html.Raw(ViewBag.Concluido)';
    if (ok == 'OK')
    {
        Swal.fire({
            icon: "success",
            title: "Mensagem Excluida com Sucesso!!",
            type: "success",
            confirmButtonColor: "#3085d6",
            confirmButtonText: "OK",
            closeOnConfirm: true,
            allowOutsideClick: false,
        }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '@Url.Action("Index", "Contato")';
        }
    })
    }
</script>
}