@model IEnumerable<AppEcommerce.Models.Produto>
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

@* <div class="row" id="proBanner">
    <div class="col-12">
    <span class="d-flex align-items-center purchase-popup" id="bannerClose">

    Olá
    </span>
    </div>
    </div> *@
<div class="d-xl-flex justify-content-between align-items-start" id="bannerClose">
    <partial name="_AdminPartial"></partial>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="ml-0 ml-md-4 mt-2 mt-lg-0">
            @*<p class="btn bg-white p-3 d-flex align-items-center"
                aria-expanded="false"> <i
                class="mdi mdi-calendar mr-1"></i>@DateTime.Now.ToLongDateString()</p>*@
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-black-50 font-weight-bold text-uppercase mb-1">Produtos </div>
                        <div class="mb-2 text-dark font-weight-bold">@Model.Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="mdi mdi-cube icon-md absolute-center text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-black-50 font-weight-bold text-uppercase mb-1">Usuários </div>
                        <div class="mb-2 text-dark font-weight-bold">@ViewBag.Usuarios.Count</div>
                    </div>
                    <div class="col-auto">
                        <i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-black-50 font-weight-bold text-uppercase mb-1">Categorias</div>
                        <div class="mb-2 text-dark font-weight-bold">@ViewBag.Categorias.Count</div>
                    </div>
                    <div class="col-auto">
                        <i class="mdi mdi-format-list-bulleted icon-md absolute-center text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-black-50 font-weight-bold text-uppercase mb-1">Marcas </div>
                        <div class="mb-2 text-dark font-weight-bold">@ViewBag.Marcas.Count</div>
                        
                    </div>
                    <div class="col-auto">
                        <i class="mdi mdi-tag-multiple icon-md absolute-center text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
