<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Buy Sell Tecnologia</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="~/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="~/assets/images/favicon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/icone-32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon/icone-96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/icone-16.png">
  @* <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css">

    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> *@
  <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

</head>

<body class="">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo menu-title " asp-controller="Admin" asp-action="Index"><img
            src="~/img/favicon/icone-96.png" alt="logo" /> Buy Sell</a>
        <a class="navbar-brand brand-logo-mini" asp-controller="Admin" asp-action="Index"><img
            src="~/img/favicon/icone-96.png" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        @* <div class="nav-profile-text">
          <p class="mb-4 text-black ">
          <partial name="_AdminPartial"></partial>
          </p>
          </div> *@
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-language dropdown d-none d-md-block">
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
              <a class="dropdown-item" href="#">
                <div class="nav-language-icon mr-2">
                  <i class="flag-icon flag-icon-ae" title="ae" id="ae"></i>
                </div>
                <div class="nav-language-text">
                  <p class="mb-1 text-black">Arabic</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div class="nav-language-icon mr-2">
                  <i class="flag-icon flag-icon-gb" title="GB" id="gb"></i>
                </div>
                <div class="nav-language-text">
                  <p class="mb-1 text-black">English</p>
                </div>
              </a>
            </div>
          </li>
          <li>
          </li>
          <li class="nav-item nav-profile">
            <a class="nav-link ">
              <div class="nav-profile-text">
                <p class="mb-1 text-black mdi mdi-calendar mr-1"> @DateTime.Now.ToLongDateString() - <label
                    id="time"></label> </p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm"
              aria-labelledby="profileDropdown" data-x-placement="bottom-end">
              <div class="p-3 text-center bg-primary">
                <img class="img-avatar img-avatar48 img-avatar-thumb" src="~/assets/images/faces/face28.png" alt="">
              </div>
              <div class="p-2">
                <h5 class="dropdown-header text-uppercase pl-2 text-dark">User Options</h5>
                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                  <span>Inbox</span>
                  <span class="p-0">
                    <span class="badge badge-primary">3</span>
                    <i class="mdi mdi-email-open-outline ml-1"></i>
                  </span>
                </a>
                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                  <span>Profile</span>
                  <span class="p-0">
                    <span class="badge badge-success">1</span>
                    <i class="mdi mdi-account-outline ml-1"></i>
                  </span>
                </a>
                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between"
                  href="javascript:void(0)">
                  <span>Settings</span>
                  <i class="mdi mdi-settings"></i>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Actions</h5>
                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                  <span>Lock Account</span>
                  <i class="mdi mdi-lock ml-1"></i>
                </a>
                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                  <span>Log Out</span>
                  <i class="mdi mdi-logout ml-1"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-category">Menu</li>
          <li class="nav-item @(ViewBag.Title == "Index" ? "active" : "")">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">
              <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
              <span class="menu-title">Principal</span>
            </a>
          </li>
          <li class="nav-item @(ViewBag.TitlePrime == "Cadastro" ? "active" : "")" >
            <a class="nav-link active" data-toggle="collapse" href="#ui-basic" aria-expanded="@(ViewBag.TitlePrime == "Cadastro" ? "show" : "")" aria-controls="ui-basic">
              <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
              <span class="menu-title">Cadastros Básicos</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse @(ViewBag.TitlePrime == "Cadastro" ? "show" : "")" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link @(ViewBag.Title == "Produto" ? "active" : "")" asp-action="Index" asp-controller="Produto">Produtos</a></li>
                <li class="nav-item"><a class="nav-link @(ViewBag.Title == "Categoria" ? "active" : "")" asp-action="Index" asp-controller="Categoria">Categorias</a></li>
                <li class="nav-item"><a class="nav-link @(ViewBag.Title == "Marca" ? "active" : "")" asp-action="Index" asp-controller="Marca">Marcas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item @(ViewBag.Title == "Usuarios" ? "active" : "")">
            <a class="nav-link" asp-action="Index" asp-controller="Account">
              <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
              <span class="menu-title">Usuários</span>
            </a>
          </li>
          <li class="nav-item @(ViewBag.Title == "ImagemSite" ? "active" : "")">
            <a class="nav-link" asp-action="Index" asp-controller="ImagemSite">
              <span class="icon-bg"><i class="mdi mdi-folder-multiple-image"></i></span>
              <span class="menu-title">Imagens</span>
            </a>
          </li>
          <li class="nav-item @(ViewBag.Title == "Contato" ? "active" : "")">
            <a class="nav-link" asp-action="Index" asp-controller="Contato">
              <span class="icon-bg"><i class="mdi mdi-message-processing menu-icon"></i></span>
              <span class="menu-title">Contatos</span>
            </a>
          </li>

          <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu user-details">
              <a class="nav-link" asp-action="Index" asp-controller="Home"> <!-- link para voltar da area administrativa para a página home -->
                <span class=""><i class="mdi mdi-home menu-icon"></i></span>
                <span class="menu-title">Home</span>
              </a>
              <a href="javascript:{}" onclick="document.getElementById('formLogout').submit(); return false;"
                class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                <form id="formLogout" hidden asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                </form>
                <span class="menu-title">Sair</span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          @RenderBody()
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="~/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="~/assets/js/off-canvas.js"></script>
  <script src="~/assets/js/hoverable-collapse.js"></script>
  <script src="~/assets/js/misc.js"></script>
  <script src="~/assets/js/site.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="~/assets/js/dashboard.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- End custom js for this page -->
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  @RenderSection("Scripts", required : false)
</body>

</html>
