@model IEnumerable<AppEcommerce.Models.Imagem>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
    var produto = ViewBag.Produto as Produto;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-cid="@produto.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Caminho
            </th>
            <th>
                Imagem
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                <img src="@("~/img/"+item.Img)" asp-append-version="true">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdImagem" asp-route-cid="@produto.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdImagem" asp-route-cid="@produto.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdImagem" asp-route-cid="@produto.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
