@model IEnumerable<AppEcommerce.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
    Layout = "_LayoutAdmin";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Listagem de Categorias</h4>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a asp-action="Create" class="btn btn-primary">Nova Categoria</a>
                </div>
            </div>
            </p>
            <div class="table-responsive">
                <table class="table table-striped" id="table-produto" style="width:100%">
                    <thead>
                        <tr>
                            <th> Categoria </th>
                            <th> Ações </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1" style="width:60%">
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td style="width:20%">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                                        <i class="mdi mdi-pencil" style="font-size: 14px;"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">
                                        <i class="mdi mdi-format-list-bulleted" style="font-size: 14px;"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                        <i class="mdi mdi-delete" style="font-size: 14px;"></i>
                                    </a>
                                    @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm">
                                        <i class="bi bi-pen-fill" title="Alterar Categoria"></i>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>