@model AppEcommerce.ViewModels.ShoppingCartViewModel



<div class="container-fluid">
    @if (TempData["Erro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Erro"]
            <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                    {
                        <tr item-id="@item.Produto.Id">
                            <td class="align-middle"><img src="@("~/img/"+item.Produto.ImagemPrincipal)" asp-append-version="true" alt=""
                                style="width: 50px;"> Product Name
                            </td>
                            <td class="align-middle">@item.Produto.Valor.ToString("C")</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;" name="@item.Produto.Id">
                                    <div class="input-group-btn">
                                        <a class="btn btn-sm btn-primary btn-minus" asp-controller="ShoppingCart"
                                        asp-action="RemoveFromShoppingCart" asp-route-Id="@item.Produto.Id">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input class="form-control form-control-sm bg-secondary border-0 text-center"
                                    type="number" step="1" max="@item.Produto.Estoque" min="1" value="@item.Amount"
                                    name="@item.Produto.Id" disabled>
                                    <div class="input-group-btn">
                                        @* <button class="btn btn-sm btn-primary btn-plus" onclick="clickIncremento(this)">
                                            <i class="fa fa-plus"></i>
                                            </button> *@
                                        <a class="btn btn-sm btn-primary btn-plus" asp-action="AddToShoppingCart"
                                        asp-controller="ShoppingCart" asp-route-Id="@item.Produto.Id">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">@((item.Amount * item.Produto.Valor).ToString("c"))</td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-danger" asp-controller="ShoppingCart"
                                asp-action="RemoveProdShoppingCart" asp-route-Id="@item.Produto.Id">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            @* <form class="mb-30" action="">
                <div class="input-group">
                <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                <div class="input-group-append">
                <button class="btn btn-primary">Apply Coupon</button>
                </div>
                </div>
                </form> *@
            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">Carrinho</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2" id="valorPedido">
                        <h5>Total:</h5>
                        <h5 id="valorPedido">@Model.ShoppingCartTotal.ToString("C")</h5>
                    </div>
                    <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" asp-controller="Order"
                        asp-action="Checkout">Fazer Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>


@* @section Scripts
    {
    <script src="~/js/carrinho.js">
    </script>
    } *@



@* <div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <h4>Here are the drinks in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Quantidade</th>
    <th>Produto</th>
    <th class="text-right">Preço</th>
    <th class="text-right">Subtotal</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
    {
    <tr>
    <td class="text-center">@line.Amount</td>
    <td class="text-left">@line.Produto.Nome</td>
    <td class="text-right">@line.Produto.Valor.ToString("c")</td>
    <td class="text-right">
    @((line.Amount * line.Produto.Valor).ToString("c"))
    </td>
    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove"
    asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart"
    asp-route-drinkId="@line.Produto.Id"></a></td>
    </tr>



    }
    </tbody>
    <tfoot>
    <tr>
    <td colspan="3" class="text-right">Total:</td>
    <td class="text-right">
    @Model.ShoppingCartTotal.ToString("c")
    </td>
    </tr>
    </tfoot>
    </table>

    <div class="text-right">
    <div class="btn-group ">
    <a class="btn btn-success">Check out</a>
    <a class="btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add more drinks<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
    <li><a asp-controller="Drink" asp-action="List" asp-route-category="Alcoholic">Alcoholic</a></li>
    <li><a asp-controller="Drink" asp-action="List" asp-route-category="Non-alcoholic">Non Alcoholic</a>
    </li>
    </ul>
    </a>
    </div>
    </div>
    </div> *@