@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model PaginatedList<AppEcommerce.Models.Categoria>

<link rel="stylesheet" href="~/content/PagedList.css" type="text/css" />

@{
    ViewBag.Subtitulo = "Buy Sell Tecnologia";
}

<div class="container-fluid pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Categorias</span></h2>
    <div class="row px-xl-5">
        @foreach (var categoria in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <a asp-action="Filtro" asp-route-id="@categoria.Id"
                    class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="@categoria.Imagem" asp-append-version="true">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@categoria.Nome</h5>
                </div>
            </div>
        }
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        @if (@Model.Count > 9 || Model.TotalPages > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="Category" asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-pageNumber="@(Model.PageIndex - 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">Anterior</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        @if (i == Model.PageIndex)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-action="Category" asp-route-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="page-item @nextDisabled">
                        <a class="page-link" asp-action="Category" asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-pageNumber="@(Model.PageIndex + 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">Próximo</a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function () {
        $('ul.pagination > li.disabled > a').addClass('page-link');
    });
</script>
}
