@model IEnumerable<AppEcommerce.Models.Produto>
@{
    ViewBag.Subtitulo = "InfoTech";
}

@* <div id="carouselMain" class="carousel slide carousel-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
    <img src="/img/slides/slide01.jpg" class="d-none d-md-block w-100" alt="...">
    <img src="/img/slides/slide01small.jpg" class="d-block d-md-none w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
    <img src="/img/slides/slide01.jpg" class="d-none d-md-block w-100" alt="...">
    <img src="/img/slides/slide01small.jpg" class="d-block d-md-none w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
    <img src="/img/slides/slide01.jpg" class="d-none d-md-block w-100" alt="...">
    <img src="/img/slides/slide01small.jpg" class="d-block d-md-none w-100" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Próximo</span>
    </button>
    </div> *@

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="/img/carousel-1.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Men Fashion
                                </h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem
                                    magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                    href="#">Shop</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="/img/carousel-2.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Women
                                    Fashion</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem
                                    magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                    href="#">Shop</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="/img/carousel-3.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Kids Fashion
                                </h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem
                                    magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                    href="#">Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="/img/offer-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                        href="#">Shop</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="/img/offer-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                        href="#">Shop</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Categorias</span></h2>
    <div class="row px-xl-5 pb-3">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    @* <p class="text-right">@categoria.Id.Count() Produtos</p> *@
                    <a asp-action="Filtro" asp-route-id="@categoria.Id"
                    class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="@("~/img/"+categoria.Imagem)" asp-append-version="true">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@categoria.Nome</h5>
                </div>
            </div>
        }
    </div>
</div>
<!-- Categories End -->

<!-- Categories Start -->
@* <div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
    class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
    @for (int i = 0; i < 12; i++)
    {
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <a class="text-decoration-none" href="">
    <div class="cat-item d-flex align-items-center mb-4">
    <div class="overflow-hidden" style="width: 100px; height: 100px;">
    <img class="img-fluid" src="@Url.Content(Model.Categoria.Imagem)" alt="">
    </div>
    <div class="flex-fill pl-3">
    <h6>@Model.Categoria.Nome</h6>
    <small class="text-body">100 Products</small>
    </div>
    </div>
    </a>
    </div>
    }
    </div>
    </div> *@
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Produtos</span></h2>
    <div class="row px-xl-5">
        @foreach (var produtos in Model)
        {
            <div class="card-group col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a asp-action="Produtos" asp-controller="Produto" asp-route-id="@produtos.Id"></a>
                        <img class="img-fluid w-100" src="@("~/img/"+produtos.Imagem)" asp-append-version="true">
                        <div class="product-action">
                            @if (@produtos.Estoque >= 1)
                            {
                                <a class="btn btn-outline-dark btn-square" asp-action="AddToShoppingCart"
                            asp-controller="ShoppingCart" asp-route-Id="@produtos.Id"><i
                                class="fa fa-shopping-cart"></i></a>
                            }
                            <a class="btn btn-outline-dark btn-square"><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" asp-action="Show" asp-route-id="@produtos.Id"
                            asp-route-IdCategoria="@produtos.IdCategoria"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p class="card-text truncar-3l">
                            <a class="h5 text-decoration-none" asp-action="Show" asp-route-id="@produtos.Id"
                            asp-route-IdCategoria="@produtos.IdCategoria">@produtos.Nome</a>
                        </p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>R$ @produtos.Valor.ToString("F2")</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            @* <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>*@
                            <small>@produtos.Estoque em Estoque</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->

<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/offer-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="img/offer-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->





@* <hr class="mt-3"> *@

@* <div class="row">
    <div class="col-12 col-md-5">
    <form action="justify-content-center justify-content-md-start mb-3 mb-md-0">
    <div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="Digite aqui o que procura"
    aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-danger">Buscar</button>
    </div>
    </form>
    </div>
    <div class="col-12 col-md-7">
    <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
    <form class="d-inline-block">
    <select class="form-select form-select-sm">
    <option>Ordenar pelo nome</option>
    <option>Ordenar pelo menor preço</option>
    <option>Ordenar pelo maior preço</option>
    </select>
    </form>
    <nav class="d-inline-block me-3">
    <ul class="pagination pagination-sm my-0">
    <li class="page-item">
    <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item disabled">
    <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">6</a>
    </li>
    </ul>
    </nav>
    </div>
    </div>
    </div> *@


@* <div class="row g-4">
    @for (int i = 0; i < 12; i++)
    {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card text-center bg-light">
    <a href="#" class="position-absolute end-0 p-2 text-danger">
    <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
    </a>
    <a asp-action="Index" asp-controller="Produto">
    <img src="@Url.Content(Model.Foto)" class="card-img-top">
    </a>
    <div class="card-header">
    R$ @Model.Valor
    </div>
    <div class="card-body">
    <h5 class="card-title">@Model.Nome</h5>
    <p class="card-text truncar-3l">
    <b>@Model.Nome</b>
    </p>
    </div>
    <div class="card-footer">
    <a href="carrinho.html" class="btn btn-danger mt-2 d-block">Comprar</a>
    <small class="text-dark">@Model.Estoque Produtos em Estoque</small>
    </div>
    </div>
    </div>
    }

    </div> *@
@* <hr mt-3> *@
@* <div class="row pb-3">
    <div class="col-12">
    <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
    <form class="d-inline-block">
    <select class="form-select form-select-sm">
    <option>Ordenar pelo nome</option>
    <option>Ordenar pelo menor preço</option>
    <option>Ordenar pelo maior preço</option>
    </select>
    </form>
    <nav class="d-inline-block me-3">
    <ul class="pagination pagination-sm my-0">
    <li class="page-item">
    <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item disabled">
    <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">6</a>
    </li>
    </ul>
    </nav>
    </div>
    </div>
    </div> *@